{% extends "UserBundle::layout.html.twig" %}

{% block fos_user_content %}
<h1>salut</h1>
	{% include "UserBundle:Resetting:reset_content.html.twig" %}
{% endblock fos_user_content %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}