{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
<center>
	<div class="4u$">
	    {{ form_widget(form) }}
	    <br>
	    <div>
	        <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
	    </div>
	</div>
</center>
{{ form_end(form) }}
